.example {
  padding: 20px;
  background: #f6f5f5;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.titleSearch {
  font-family: Inter;
  font-weight: 400;
}
.inputSearch {
  color: #272343;
  border-radius: 20px;
}

.buttonSearch {
  border: none;
  background-color: #ffd803;
  height: 1.2rem;
  border-radius: 10px;
  align-items: center;
}

.filterBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filterBarContainer h2 {
  font-size: larger;
  color: #1f2032;
  /* width: max-content; */
  /* padding: 10px; */
  font-family: Inter;
  font-weight: 600;
  align-items: center;
}
.filterBarContainer select {
  width: 100px;
}

.selectsFilter {
  border: none;
  font-family: Inter;
  font-weight: 500;
  height: 2rem;
  border-radius: 20px;
  background: #272343;
  color: #fff;
  padding: 6px;
  /* align-items: center; */
  display: flex;
  justify-content: space-around;
}

.selectsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: space-evenly;
}
