.divStoreContainer {
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
}
.productsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 100%;
}
.divContainerShop {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
}