.detailContainer {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(#fff, rgb(218, 178, 255));
    display: flex;
    flex-direction: column;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container2 {
    width: 90%;
    width: 100%;        
    margin: auto;
    padding: 3%;
}
.container2 img {
    width: 35%;
    height: 60vh;
    border-radius: 5%;
}

.petDescription {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.petDescription2 {
    border: 1px solid black;
    border-radius: 1rem;
    width: 40%;
    padding: 20px;
}
.petDescription2 p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
}
