/* COLORES
#161616
#ffd4ac
#dce0ac Beige
*/

.shopNavbarContainer {
    background-color: #bae8e8;
    box-shadow: 15px 10px .7rem .5rem #1616164d;
    height: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.shopNavbarContainer2 {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;    
}
.shopNavbarContainer2 button {
    height: 40px;
    border: none;
    background-color: rgba(150, 29, 29, 0);
    width: 140px;
    font-size: 22px;
}
.shopNavbarContainer2 button:hover {
    transition: .3s;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.divNavbarInput {
    padding-top: 10px;
    /* background-color: bisque; */
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
.divNavbarInput input{
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 8px;
    padding: 2px;
}
.divNavbarInput button {
    border-radius: 6px;
    padding: 2px;
    color: #fff;
    background-color: #161616e0;
}

@media screen and (max-width: 600px) {
.shopNavbarContainer button:hover {
}
.shopNavbarContainer2 button {
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    border: none;
    background-color: rgba(150, 29, 29, 0);
    width: 160px;
}
.shopNavbarContainer {
    height: 8rem;
}
.shopNavbarContainer2 {
    flex-wrap: wrap;
}
}