/* COLORES
#161616
#ffd4ac
#dce0ac Beige
*/
.divNavbarInputContainer {
    width: 100%;
    height: 100%;
}
.shopNavbarContainer {
    background-color: #bae8e8;
    box-shadow: 15px 10px .7rem .5rem #1616164d;
    height: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.shopNavbarContainer2 {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;    
}
.shopNavbarContainer2 button {
    height: 40px;
    border: none;
    background-color: rgba(29, 47, 150, 0.555);
    border-radius: 20px 20px 20px 20px;
    width: 140px;
    font-size: 22px;
}
.shopNavbarContainer2 button:hover {
    transition: .4s;
    color: #fffb;
}
.divCartAndInput {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
}
.divCartAndInput button {
    background-color: rgba(29, 47, 150, 0.555);
    border-radius: 20px 20px 20px 20px;
    padding: 0 10px 0 10px;
}
.divCartAndInput :hover{
    color: #fffb;
    transition: .4s;
}
.divNavbarInput {
    padding-top: 10px;
    /* background-color: bisque; */
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
.divNavbarInput :nth-child(1) {
    color: red;
    display: flex;
    align-self: flex-end
}
.divNavbarInput input{
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 8px;
    padding: 2px;
}
.divNavbarInput button {
    border-radius: 6px;
    padding: 2px;
    color: #fff;
    background-color: #161616e0;
}

@media screen and (max-width: 600px) {
.shopNavbarContainer2 button {
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    border: none;
    background-color: rgba(150, 29, 29, 0);
    width: 160px;
}
.shopNavbarContainer {
    height: 8rem;
}
.shopNavbarContainer2 {
    flex-wrap: wrap;
}

.shopNavbarContainer {
    box-shadow: 0 0 .7rem .1rem #1616164d;
    height: 9rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
}