.navHeight {
    font-size: 26px;
    padding-left: 8%;
    background: linear-gradient(45deg, rgba(97, 247, 255, 0.478) 15%, rgba(180, 62, 249, 0.444) 100%) !important;
    box-shadow: 0 0 0.5rem 0.5rem rgba(149, 149, 149, 0.545);
}

 .navContainer {
    height: 100vh;
    width: 100vw; 
}

