.navHeight {
    font-size: 26px;
    /* background: linear-gradient(20deg, #2dfff4ba 15%, #fff64fbe 100%) !important; */
    background: linear-gradient(20deg, #ff4066c6 15%, #fff06ace 100%) !important;
    /* background: linear-gradient(45deg, #0d6dfd82 15%, #d633848c 100%) !important; */

    box-shadow: 0 0 1rem 1rem rgba(149, 149, 149, 0.545);
}

.ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #252525;
    font-size: 26px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 1170px) {
    .ul {
        flex-wrap: wrap;
    }
}