.contenedor {
  min-height: 100vh;
  position: relative;
  background-color: #bae8e8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contenedor .logo {
  margin-right: 20%;
}
.container-box {
  background-color: #fff;
  font-family: Inter;
  text-align: center;
  height: 100vh;
  width: 25%;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
  height: 50vh;
  /* border: solid black 1px; */
  margin-top: 35%;
}
