.li {
	text-align: center;
	width: 30px;
	height: 25px;
	border: 1px solid rgb(35, 189, 220);
	border-radius: 10px;
	position: relative;
	transition: transform 500ms ease;
}

.Pages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px 5px;
	cursor: pointer;
}

.li:hover {
	transform: scale(1);
	background-color: rgb(74, 164, 255);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	bottom: 2px;
}

.activePage {
	background: var(--purple);
	font-size: large;
	-webkit-text-fill-color: rgba(66, 27, 222, 0.883);
}
